<h2>Account</h2>

<p> Username: {{ user.username }}</p>

<p> First name: {{ user.first_name}}</p>
<p> Last name: {{ user.last_name }}</p>

<div>
    <h3>Publicated articles</h3>
    {% if user.my_articles.all %}

        {% for article in user.my_articles.all %}
            <div>
                <a href="{% url 'article-detail' article.id %}">{{ article.title }}</a>
                <a href="{% url 'article-update' article.id %}">Update</a>
                <a href="{% url 'article-delete' article.id %}">Delete</a>
            </div>
        {% endfor %}

    {% else %}
        <p>No articles</p>
    {% endif %}
</div>
<a href="{% url 'articles' %}">Go To Main</a>