{% extends 'main.html' %}
{% block content %}


<h1>The News</h1>

<div class="search-add-wrapper">
    <form class="search-add-wrapper__form" method="get">
        <input class="search-add-wrapper__form-text" type="text" name="search-area" value="{{ search_input }}">
        <input class="button" type="submit" value="Search">
    </form>
</div>


<h3>News list</h3>
{% if articles %}
    {% for article in articles %}
        <div>
            <a href="{% url 'article-detail' article.id %}">{{ article.title }}</a>
        </div>
    {% endfor %}
{% else %}
    <p>No articles at this moment...</p>
{% endif %}


{% endblock content %}





