{% extends 'main.html' %}
{% load static %}
{% block content %}

<h2>Your published news</h2>

<div class="search-add-wrapper">
    <form class="search-add-wrapper__form" method="get">
        <input class="search-add-wrapper__form-text" type="text" name="search-area" value="{{ search_input }}">
        <input class="button" type="submit" value="Search">
    </form>
</div>

<div>
    <p><a href="{% url 'add-article' %}">Add article &#x2b;</a></p>
</div>

<div>
    {% if articles %}
        {% for article in articles %}
            <div>
                {% if article.picture %}
                    <img src="{{ article.picture }}" alt="">
                {% else %}
                    <img src="{% static 'images/articles/no-image-icon-23485.png' %}" alt="No picture">
                {% endif %}
            </div>
            <div>
                <a href="{% url 'article-detail' article.id %}">{{ article.title }}</a>
                <a href="{% url 'article-update' article.id %}">Update</a>
                <a href="{% url 'article-delete' article.id %}">Delete</a>
            </div>
        {% endfor %}
    {% else %}
        <p>No articles</p>
    {% endif %}
</div>


<div>
    <a href="{% url 'articles' %}">Go To Main</a>
</div>

{% endblock content %}