{% extends 'main.html' %}
{% block content %}

<div class="header-bar">
    <div class="header-bar__logo">Logo</div>
    <div class="header-bar__categories">
        {% for category in categories %}
            <a href="{% url 'category-detail' category.id %}">{{ category.name }}</a>
        {% endfor %}
    </div>
    <div class="header-bar__user">
        {% if user.is_authenticated %}
            <p>Hi, {{ user.username }}</p>
            <a href="{% url 'logout' %}">Logout</a>
        {% else %}
            <a href="{% url 'login' %}">Login/Register</a>
        {% endif %}

    </div>
</div>

<h2>{{ article.title }}</h2>

<p>{{ article.text }}</p>

<p>Author: {{ article.author }}</p>

<p>Created: {{ article.created_at }}</p>


<p><a href="{% url 'articles' %}">Go Back</a></p>

{% endblock content %}