{% extends 'main.html' %}
{% block content %}

<h2>{{ article.title }}</h2>

<p>{{ article.text }}</p>

<p>Author: {{ article.author }}</p>

<p>Created: {{ article.created_at }}</p>

<!--Лучше не сравнивать id ползователей, а выдать права на изменение-->
{% if request.user.id == article.author.id %}
    <a href="{% url 'article-update' article.id %}">Update</a>
    <a href="{% url 'article-delete' article.id %}">Delete</a>
{% endif %}



<p><a href="{% url 'articles' %}">Go Back</a></p>

{% endblock content %}